body{
    margin: 0;
    box-sizing: border-box;
    padding: 1%;
}
header{
    text-align: center;
}
.content{
    border:2px solid
}
.change_item{
    padding: 1%;
}
.link{
    display: flex;
    justify-content: space-around;
}
.search{
    border-left: 2px solid;
    border-right: 2px solid;
}
.home,.search,.add{
    flex-basis: 33.33%;
    text-align: center;
    border-bottom: 2px solid;


}
.home>button,.search>button,.add>button{
    transition:1s;
}
.home:hover button{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.search:hover button{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.add:hover button{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.un_border{
    border-bottom: none;
}

.title{
    display: none;
    padding: 3% 0;
}
.word{
    display: flex;
    padding-bottom: 2%;
    flex-direction: column;
    border-bottom: 1px solid gray;
    align-items: center;
    transition: 0.5s;
}
.word:hover{
    background-color: lightgray;
}
.active{
    background: lightgray;
}
.inner_word,.word_title{
    flex-basis: 20%;
}
.inner_description,.description_title{
    flex-basis: 75%;
}
.word_title,.description_title{
    font-size: 20px;
}
.edit{
    flex-basis: 5%;
    text-align: center;
}
.hidden{
    display: none;
    font-size: 30px;
}
.fas,.far{
    font-size: 30px;
}
@media (min-width:800px){
    .word{
        flex-direction: row;
    }
    .title{
        display: flex;
    }
    .hidden{
        display: block;
        font-size: 20px;
    }
    .fas,.far{
        font-size: 20px;
    }
}
.letter{
    padding:1%;
    font-size: 20px;
    text-align: center;
}
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
}
.page-item{
    padding: 0 2%;
}
.edit_textarea{
    width:85%;
}
.prereloader{
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input{
    text-align: center;
    padding: 2% 0;
}
.not_found{
    text-align: center;
}
.not_found{
    text-align: center;
}
.add_form{
    display: flex;
    flex-direction: column;
}
.adder_word{
    justify-content: center;
    display: flex;
    padding: 2% 0;
}
.word_form,.description_form{
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}
.add_result{
    color: green;
}